{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Welcome to Raspberry Pi</title>
		<link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}"/>
		<link rel="stylesheet" href="{% static 'foundation/css/app.css' %}"/>
		<link
			rel="shortcut icon"
			href="{% static 'RasWeb/logo.png' %}"
			type="image/icon type"
		/>
		<link rel="stylesheet" href="{% static 'RasWeb/style.css' %}" />
		<!-- foundation-rtl.min.css: Compressed CSS with right-to-left reading direction -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation-rtl.min.css"
			integrity="sha256-F+9Ns8Z/1ZISonBbojH743hsmF3x3AlQdJEeD8DhQsE="
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<img
			class="bg-img"
			src="{% static 'RasWeb/bg1.jpg' %}"
			alt="background image"
		/>
		<div class="title">
			<h0>RASPBERRY CONTROLLER</h0>
		</div>
		<div class="grid-container">
			<div class="grid-x grid-margin-x medium-up-2">
				<div class="cell">
					<div class="card">
						<a href="#" class="thumbnail"
							><img
								src="{% static 'RasWeb/light.jpg' %}"
								alt="Photo of a light bulb"
						/></a>
						<div class="card-section">
							<h4 style="font-weight: bold;">
								LIGHT <span class="badge success">OK</span>
							</h4>
							<div class="expanded button-group">
								{% if status == 'on' %} 
									{% block on %} 
									{% endblock %} 
								{% elif status == 'off' %} 
									{% block off %} 
									{% endblock %} 
								{% else %} 
									{% block body %} 
									{% endblock %} 
								{% endif %}
								<div
									class="reveal"
									id="modalBlink"
									data-reveal
									data-close-on-click="true"
									data-animation-in="hinge-in-from-top"
									data-animation-out="hinge-out-from-top"
								>
									<form>
										<div class="medium-6 cell">
											<label style="font-weight: bold;">Number of blinks
											<input type="number" placeholder="Number">
											</label>
										</div>
											<div class="grid-x grid-padding-x">
											<fieldset class="large-7 cell">
												<legend style="font-weight: bold;">Choose your favorite speed</legend>
												<input id="checkboxFast" type="checkbox"><label for="checkbox1">FAST</label>
												<input id="checkboxSlow" type="checkbox"><label for="checkbox2">SLOW</label>
											</fieldset>
											</div>
									</form>
									<button
										class="close-button"
										data-close
										aria-label="Close reveal"
										type="button"
									>
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cell">
					<div class="card">
						<a href="#" class="thumbnail"
							><img
								src="{% static 'RasWeb/temp.jpg' %}"
								alt="Photo of temparature."
						/></a>
						<div class="card-section">
							<h4 style="font-weight: bold;">
								Degree <span class="badge warning">Fail</span>
							</h4>
							<p>Not available</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="{% static 'foundation/js/vendor/jquery.js' %}">
		<script src="{% static 'foundation/js/vendor/what-input.js' %}"></script>
		<script src="{% static 'foundation/js/vendor/foundation.js' %}"></script>
		<script src="{% static 'foundation/js/app.js' %}"></script>
	</body>
</html>